$indent-top-bottom: 0.938;
$icon-width: 2.450;

.catalog {
  &-list {
    margin: -1.563em (-$common-side-indent + em) 0 (-$common-side-indent + em);
    padding: 0;
    list-style: none;
    border-top: 0.063em solid $color-grey-border;

    &-item {
      border-bottom: 0.063em solid $color-grey-border;

      &__active {
        .catalog-list-item-title {
          background: $text-grey-active;
        }

        .catalog-list-item-title {
          &:after {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
          }
        }
      }

      &-title {
        position: relative;
        font-size: 1.2em;
        font-family: 'helveticaneuecyrmedium';
        padding: $indent-top-bottom + em ($common-side-indent*2 + em) $indent-top-bottom + em ($common-side-indent + em);
        cursor: pointer;

        &:after {
          content: '';
          position: absolute;
          right: $common-side-indent + em;
          top: ($indent-top-bottom + 0.2) + em;

          width: 0.535em;
          height: 0.95em;
          background: url('../img/icons/arrow-right.png') no-repeat;
          background-size: contain;

          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }

        .badge {
          margin-top: -0.35em;
        }
      }
    }

    &-inner {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: 0.063em solid $color-grey-border;

      &-item {
        position: relative;
        padding: $indent-top-bottom + em ($common-side-indent*2) + em $indent-top-bottom - 0.3 + em ($icon-width + $common-side-indent) + em;
        border-bottom: 0.063em solid $color-grey-border;
        & a {
            text-decoration: none;
            color: black;
        }
        &:last-child {
          border: 0;
        }

        &:before {
          content: '';
          position: absolute;
          right: $common-side-indent + em;
          top: ($indent-top-bottom + 0.55)+ em;

          width: 0.525em;
          height: $height-right-arrow + em;
          background: url('../img/icons/arrow-right.png') no-repeat;
          background-size: contain;
        }

        &:after {
          content: '';
          display: block;
          height: 1px;
          line-height: 1px;
          clear: both;
        }

        &-title {
          font-family: 'helveticaneuecyrmedium';
          font-size: 1.1em;
          padding-top: 0.25em;
        }

        &-icon {
          position: absolute;
          width: $icon-width + em;
          left: ($common-side-indent - 0.7) + em;
          top: ($indent-top-bottom - 0.35) + em;

          img {
            width: 100%;
          }
        }

        &-info {
          float: right;
          text-align: right;
          line-height: 2em;
          color: $text-grey;
        }
      }
    }
  }
}