$indent-top-bottom: 0.938;

.price {
  &-list {
    margin: 0 (-$common-side-indent + em);
    padding: 0;
    list-style: none;
    border-top: 0.063em solid $color-grey-border;

    &-item {
      border-bottom: 0.063em solid $color-grey-border;
      background: $color-footer;
      color: white;
      &__active {
        // .price-list-item-title {
        //   background: $text-grey-active;
        // }

        .price-list-item-title {
          &:after {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
          }
        }

        .price-list-inner {
//          display: block;
        }
      }

      &-title {
        position: relative;
        font-family: 'helveticaneuecyrmedium';
        padding: $indent-top-bottom + em ($common-side-indent*2 + em) $indent-top-bottom + em ($common-side-indent + em);
        cursor: pointer;

        &:after {
          content: '';
          position: absolute;
          right: $common-side-indent + em;
          top: 1.1em;
          width: 1em;
          height: 0.8em;
          background: transparent url(../img/svg/dropdown-white.svg) no-repeat;
          background-size: 1em;
          box-sizing: border-box;
        }
      }
    }

    &-inner {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: 0.063em solid $color-grey-border;

      &-item {
          background: white;
          color: black;
        padding: $indent-top-bottom + em ($common-side-indent + 0.3) + em;
        border-bottom: 0.063em solid $color-grey-border;
        & b {
            font-family: $font-medium;
            &.price-title {
                margin-bottom: 1.6em;
                display: block;
            }
        }
        &:last-child {
          border: 0;
        }

        &-info {
            &:not(:last-child) {
                margin-bottom: 2.4em;
            }
            & > span {
                font-size: 1.5em;
            }
        }

        &:after {
          content: '';
          display: block;
          height: 1px;
          line-height: 1px;
          clear: both;
        }
      }
    }
  }
}
