.courses {
  padding: 0 0 30px 0;

  &-title {
    font-size: 32px;
    padding: 0 0 30px 0;

    .button-green-small {
      margin-left: 8px;
    }
  }

  &-list {
    @extend .table-main;
    margin-bottom: 20px;
    font-size: 14px;
    td {
      padding: 0 0 17px 0;
      vertical-align: center;
      line-height: $line-height-main + px;
    }

    &-name {
      width: 180px;
    }

    &-number {
      width: 110px;
    }

    &-icon {
      width: 60px;

      img {
          height: 34px;
        //   top: 12px;
        //   position: relative;
      }
    }

    &-text {
      width: 715px;
      padding-right: 70px !important;
    }
  }
}
