.courses {
  padding: 0 0 90px 0;

  &-title {
    font-size: 40px;
    padding: 0 0 40px 0;

    .button-green-small {
      margin-left: 8px;
    }
  }

  &-list {
    @extend .table-main;
    margin-bottom: 20px;

    td {
      padding: 0 0 10px 0;
      vertical-align: middle;
    }

    &-name {
      width: 140px;
    }

    &-number {
      width: 160px;
    }

    &-icon {
      width: 60px;

      img {
        width: 40px;
      }
    }

    &-text {
      width: 715px;
      padding-right: 70px !important;
    }
  }
}