/* color */
$main-link-color: #3a6699;
$text-grey: #818181;
$text-grey-light: #acacac;
$text-red: #a30000;
$color-green: #35a45b;
$color-gold: #c8ca00;

/* font size */
$main-font-size: 16px;
$font-size-h1: 24;
$font-size-h2: 20;
$font-size-h3: 16;

/* size */
$border-radius-element-form: 4;
$height-element-form: 46;
$footer-height: 290;
$border-radius-main: 6;
$border-radius: 4px;

$font-light: 'helveticaneuecyrlight';
$font-roman: 'helveticaneuecyrroman';
$font-medium: 'helveticaneuecyrmedium';

$img-path: '../img/';
