html, body {
  height: 100%;
}

body {
  font-family: 'helveticaneuecyrlight';
  font-size: $main-font-size;
}

.common {
  width: $screen-width;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 0 0 18px 0;
  font-size: $font-size-h1 + px;
  font-weight: normal;
  font-family: 'helveticaneuecyrmedium';
}

h2 {
  margin: 0;
  padding: 0 0 17px 0;
  font-size: $font-size-h2 + px;
  font-weight: normal;
  font-family: 'helveticaneuecyrmedium';
}

h2.not-first {
    padding-top: 17px;
}

h3 {
  margin: 0;
  padding: 0 0 17px 0;
  font-size: $font-size-h3 + px;
  font-weight: normal;
  font-family: 'helveticaneuecyrmedium';
}

b {
  font-weight: normal;
  font-family: 'helveticaneuecyrbold';
}

.b-like {
    display: block;
    font-family: $font-medium;
    @extend .half-spacing-top;
}


p {
  margin: 0;
  padding: 0 0 13px 0;
}

p.last {
    padding: 0;
}

p.half-padding {
    padding-bottom: (25 - ($line-height-main / 2)) + px;
}

a {
  color: $main-link-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.color-green {
  color: $color-green;
}
.color-gold {
  color: $color-gold;
}
.color-red {
  color: $text-red;
}
.color-blue {
  color: $main-link-color;
}
.color-placeholder {
    color: $placeholder-gray;
}
.large-text {
  font-size: 150%;
}

.text-center {
  text-align: center;
}

.list-main {
  margin: 0;
  line-height: $line-height-main + px;
  // padding: 0 0 20px 0;
  padding: 0;
  list-style: none;

  li {
    .program-list-item & {
      padding: 0 0 6px 0;
    }

    ul {
      margin: 0;
    //   padding: 7px 0 0 15px;
        padding: 0;
      list-style: none;
      &.program-list-item {
        padding-left: 30px;
      }
    }
  }
}

.table-main {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

.center-col {
  float: left;
  width: calc(650px - #{$screen-padding} - #{$screen-padding});
}
.right-col {
  float: left;
  width: calc(300px);
  padding: 0 0 0 50px;
}

.clear-fix {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

.push-right {
  float: right;
}
.push-left {
  float: left;
}

/* new */

.fullscreen-loading {
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    font-family: $font-medium;
    color: black;
    left: 0;
    top: 0;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  /* content: "..."; /* ascii code for the ellipsis character */
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
  position: absolute;
}

.loading-inside-button {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.pointer {
    cursor: pointer !important;
}

a {
    cursor: pointer;
}

button, input, textarea {
    outline: none !important;
}

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}
.gm-bundled-control .gmnoprint {
    display: block;
}

.medium {
    font-family: $font-medium;
}

.inline {
    display: inline-block;
}

p.last {

}
