html, body {
  height: 100%;
}

body {
  font-family: $font-regular;
  font-size: $main-font-size;
}

.common {
  width: $screen-width;
  margin: 0 auto;
  flex: 1;
}

h1 {
  margin: 0;
  padding: 0 0 18px 0;
  font-size: $font-size-h1 + px;
  font-weight: normal;
  font-family: 'helveticaneuecyrmedium';
}

h2 {
  margin: 0;
  padding: 0 0 17px 0;
  font-size: $font-size-h2 + px;
  font-weight: normal;
  font-family: 'helveticaneuecyrmedium';
}

h2.not-first {
    padding-top: 17px;
}

h3 {
  margin: 0;
  padding: 0 0 17px 0;
  font-size: $font-size-h3 + px;
  font-weight: normal;
  font-family: 'helveticaneuecyrmedium';
}

b {
  font-weight: normal;
  font-family: 'helveticaneuecyrbold';
}

.b-like {
    @extend .half-spacing-top;
}


p {
  margin: 0;
  padding: 0 0 13px 0;
}

p.last {
    padding: 0;
}

p.half-padding {
    padding-bottom: (25 - ($line-height-main / 2)) + px;
}

a {
  color: $main-link-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.color-green {
  color: $color-green;
}
.color-gold {
  color: $color-gold;
}
.color-red {
  color: $text-red;
}
.color-blue {
  color: $main-link-color;
}
.color-placeholder {
    color: $placeholder-gray;
}
.large-text {
  font-size: 150%;
}

.text-center {
  text-align: center;
}

.list-main {
  margin: 0;
  line-height: $line-height-main + px;
  // padding: 0 0 20px 0;
  padding: 0;
  list-style: none;

  li {
    .program-list-item & {
      padding: 0 0 6px 0;
    }

    ul {
      margin: 0;
    //   padding: 7px 0 0 15px;
        padding: 0;
      list-style: none;
      &.program-list-item {
        padding-left: 30px;
      }
    }
  }
}

.table-main {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-col {
  float: left;
  width: calc(650px - #{$screen-padding} - #{$screen-padding});
}
.right-col {
  float: left;
  width: calc(300px);
  padding: 0 0 0 50px;
}

.clear-fix {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

.push-right {
  float: right;
}
.push-left {
  float: left;
}

/* new */

.fullscreen-loading {
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    font-family: $font-medium;
    color: black;
    left: 0;
    top: 0;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  /* content: "..."; /* ascii code for the ellipsis character */
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
  position: absolute;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.pointer {
    cursor: pointer !important;
}

a {
    cursor: pointer;
}

button, input, textarea {
    outline: none !important;
}

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}
.gm-bundled-control .gmnoprint {
    display: block;
}

.medium {
    font-family: $font-medium;
}

p.last {

}

.b-like {
    display: block;
    font-family: $font-medium;
}

.external-schedule {
    width: 100%;
}

.external-schedule
{
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
    font-size: 12px;
    & td {
        border-bottom: 1px solid lighten($text-grey-light, 20);
    	// color: #669;
    	padding: 6px 8px;
        background: #f4f4f4;
        width: 10%;
    }
    & tr:last-of-type {
        & td {
            border: none;
        }
    }
    & thead tr td {
    	padding: 10px 8px;
    	// border-bottom: 2px solid #6678b1;
        font-family: $font-regular;
        border: 0;
        &:nth-child(2n) {
            border-right: 1px solid lighten($text-grey-light, 20);
        }
    }
    & thead tr {
        &:first-of-type {
            & td {
                text-align: center;
            }
        }
        &:last-of-type {
            & td {
                border-bottom: 1px solid #ccc;
            }
        }
    }
}

.external-schedule-notes {
    margin-top: 10px;
    // border-left: 2px solid $text-grey;
    // padding-left: 10px;
    margin-left: 8px;
    color: $text-grey;
    line-height: $line-height-main + px;
    font-size: 12px;
    & b {
        font-family: $font-regular;
    }
}

.external-schedule-wrapper {
    display: inline-block;
    img {
      width: 100%;
    }
}

.font-regular {
    font-family: $font-regular;
}

.is-desktop {
    visibility: hidden;
}

.stats-table {
    width: 100%;
    margin-top: 40px;
    & tr.thead td {
        font-family: $font-medium;
        padding-bottom: 20px;
    }
    & tr.thead.with-average td {
        padding-top: 20px;
    }
    td.bordered {
        border-left: 1px solid $text-grey-light;
        border-right: 1px solid $text-grey-light;
        padding: 5px 20px;
    }
    td.next-to-bordered {
        padding-left: 40px;
    }
    tr.average td {
        border-bottom: 1px solid $text-grey-light;
        padding-bottom: 20px;
    }
    & tr {
        & td {
            padding: 5px 5px;
            & b {
                font-family: $font-medium;
            }
            &:first-of-type {
                padding-left: 0;
            }
            & .review-popup {
                position: absolute;
                left: 200px;
                background: white;
                z-index: 100;
                box-shadow: 0 0 20px rgba(black, .6);
                padding: 10px;
                border-radius: 5px;
                width: calc(100% + 150px);
                left: -200px;
                top: -5px;
                line-height: $line-height-main + px;
                color: black;
                text-decoration: none;
                & img {
                    height: 14px;
                    float: right;
                    cursor: pointer;
                }
                &-signature {
                    font-family: $font-italic;
                    margin-top: 5px;
                }
            }
        }
    }
}

.stats-filter {
    & > div {
        width: 300px;
        display: inline-block;
        margin-right: 10px;
    }
    margin-bottom: 20px;
    & .customSelectInner {
        white-space: nowrap;
    }
}

.stats-average {
    margin: 40px 0 20px;
    // padding-bottom: 20px;
    //border-bottom: 1px solid rgba($text-grey-light, .75);
    & b {
        font-family: $font-medium;
    }
    & > div {
        padding: 4px 0;
        & > span {
            display: inline-block;
            width: 500px;
        }
    }
}

.button-stats-more {
    margin-top: 30px;
}

.review-popup-close {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}