$margin-tiny: 5px;
$margin-big: 20px;
$margin-huge: 40px;
$margin-small: 15px;

$circle-image: 60px;

$line-height-small: 17px;
$line-height: 21px;
$line-height-big: 33px;

$font-size-big: 20px;
$font-size-huge: 30px;

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
	font-family: $fontName, sans-serif;
  font-weight: $font-regular;
  font-size: 16px;
  -webkit-overflow-scrolling: touch !important;
  overflow-y: auto;
  &.modal-open {
        overflow: hidden !important;
        position: fixed;
        width: 100%;
        &:before {
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            // background-color: rgba(black, 0.5);
            position: fixed;
            z-index: 99;
            // @include zindex(50);
        }
        &.open-modal-video:before {
            background-color: black;
        }
    }

  @include respond-to(320) {
    font-size: 14px;
  }
  @include respond-to(480) {
    font-size: 16px;
  }
}

.common {
  padding: $common-indent $common-indent 0;
}

h1 {
  margin: 0;
  padding: 0 0 .9em 0;
  font-size: $font-size-h1 + em;
  font-weight: $font-medium;
}

h2 {
  margin: 0;
  padding: 0 0 0.938em 0;
  font-size: $font-size-h2 + em;
  font-weight: $font-bold;
}

h2.not-first {
    padding-top: 28px !important;
}

p.last {
    padding: 0;
    margin: 0;
}

h3 {
  margin: 0;
  padding: 0 0 1.125em 0;
  font-size: $font-size-h3 + em;
  font-weight: $font-bold;
}

b {
  font-weight: $font-bold;
}

p {
  margin: 0;
  padding: 0 0 1.250em 0;
}

a {
  color: $main-link-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.color-green {
  color: $color-green;
}
.color-gold {
  color: $color-gold;
}
.color-red {
  color: $text-red;
}
.color-blue {
  color: $main-link-color;
}
.large-text {
  font-size: 150%;
}

.text-center {
  text-align: center;
}

.list-main {
  margin: 0;
  padding: 0 0 1.250em 0;
  list-style: none;

  li {
    padding: 0 0 0.588em 0;

    ul {
      margin: 0;
      padding: 0.438em 0 0 0.938em;
      list-style: none;
    }
  }
}

.table-main {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.main {
  min-height: 100%;
  min-width: 320px;
  height: auto !important;
  height: 100%;
  position: relative;
}

.clear-fix {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

.push-right {
  float: right;
}
.push-left {
  float: left;
}

.modal.active {
    display: block !important;
}

.modal {
    @extend .animated;
    animation-duration: .3s;
    position: fixed;
    width: 100%;
    max-height: 92%;
    height: 100%;
    background: white;
    left: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    display: none;
    overflow: hidden;
    z-index: 99;
    & .modal-button {
      background: #f0f0f0;
      height: 47px;
      padding: 15px 0 0 0;
      cursor: pointer;
      box-sizing: border-box;
      text-align: center;
      &:after {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url('/img/svg/close.svg') no-repeat;
        background-size: cover;
      }
    }
    & .modal-content {
        padding: 0.938em;
        overflow-y: scroll;
        box-sizing: border-box;
        height: calc(100% - 47px);
        &.menu {
            display: flex;
            // justify-content: center;
            // align-items: center;
            justify-content: flex-start;
            align-items: flex-start;
            height: 92%;
        }
    }
    & .loading {
        font-size: 1.1em;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-grey;
    }
}

.faq-page .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  display: none;
  overflow: hidden;
  z-index: 99;
  border-radius: 0;
  & .modal-button {
    z-index: 100000;
    position: absolute;
    right: 0;
    height: 55px;
    background: rgba(0,0,0,0.2);
    padding: 15px 15px 0 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: right;
    left: 0;
    &:after {
      width: 25px;
      height: 25px;
      background: url('/img/svg/cross-out.svg') no-repeat;
      background-size: cover;
    }
  }
  & .modal-content {
    padding: 0;
    height: 100%;
  }
}

#modal-video {
    width: 100%;
    height: calc(100vw*9/16);
    left: 0;
    border-radius: 0;
    top: calc(50% - (100vw*9/16) / 2);
}


.fullscreen-loading {
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    font-weight: $font-medium;
    color: black;
    left: 0;
    top: 0;
}

.fullscreen-loading-black {
    opacity: 1;
    background: black;
    color: white;
    display: none;
}

.metro-circle {
    content: '';
    width: 0.500em;
    height: 0.500em;
    border-radius: 100%;
    position: absolute;
    top: 1.1em;
    left: 1.357em;
    background: #293694;
}

#map {
    width: calc(100% + 2.4em);
    //height: 100%;
    height: 250px;
    margin-left: -1.2em;
}

#modal-map {
    & .modal-content {
        padding: 0;
    }
}

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}
.gm-bundled-control .gmnoprint {
    display: block;
}

.video-close-fix {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 104;
}

#youtube-video {
    z-index: 105;
    width: 100%;
    height: 100%;
    position: absolute;
    // height: 1px;
    // width: 1px;
    // opacity: 0;
    // position: fixed;
    // left: 50%;
    // top: 50%;
}

.back-arrow {
    & img {
        height: 14px;
        margin-right: 5px;
    }
    & span {
        position: relative;
        top: -1px;
    }
    display: flex;
    align-items: center;
    font-weight: $font-regular;
    margin-bottom: 20px;
}

.b-like {
    display: block;
    font-weight: $font-bold;
}

.right-img-price {
    font-size: 1.5em;
}

.select-dropdown {
    background: url('/img/svg/dropdown-gray.svg');
    width: 1.2em;
    height: 1.2em;
    background-size: 1.2em;
    border: 0;
    position: absolute;
    z-index: 19;
    right: .7em;
    top: .9em;
}

.text-gray {
    color: $text-grey;
}

.button-review-more {
    margin-top: $footer-margin;
}

.page-not-found-wrapper {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .page-not-found {
        text-align: center;
        & h1 {
            font-weight: $font-light;
        }
        & ul {
            list-style: none;
            padding: 0;
        }
    }
}

.text-success {
    color: $color-green;
}

.multiselect-popup {
    & .button-green-large {
        margin-top: 1em;
    }
}

.external-schedule-wrapper {
  img {
    width: 100%;
  }
}

.stats-table {
  margin-top: 1em !important;
  & .catalog-list-item {
      &-title {
          background: rgba(0, 0, 0, 0.07);
          font-weight: $font-regular;
      }
      &:first-of-type {
          border-top: none;
      }
  }
  & .catalog-list-inner-item {
      & > div {
          &:not(:last-child) {
              margin-bottom: 1em;
          }
      }
  }
}

.stats-average {
    line-height: 1.3em;
}

.stats-review-signature {
    font-weight: $font-italic;
    margin-top: .5em;
}

.stats-score {
    position: absolute;
    right: 3em;
}

.stats-total-results {
    margin: 1em 0 2em;
    text-align: center;
}

.button-stats-more {
    margin: 2em 0 0;
}

.input-label {
    color: $text-grey;
    font-size: .9em;
    margin-bottom: .3em;
    display: block;
}

select {
    -webkit-appearance: none !important;
}

.select span {
    line-height: 2.6em;
}

.form-row-inner {
    position: relative;
}

input {
    background-clip: padding-box;
}

.input-group {
    display: flex;
    & > span {
        background: white;
        border: 1px solid $text-grey-light;
        border-radius: $border-radius-element-form + em 0 0 $border-radius-element-form + em;
        border-right: none;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }
    & > input {
        border-left: none;
        border-radius: 0 $border-radius-element-form + em $border-radius-element-form + em 0;
        padding-left: 0;
        padding-left: 5px;
    }
}

.signup-bottom {
    text-align: center;
    margin-top: 3em;
}

.payment-types {
    display: inline-block;
    height: 20px;
    top: 3px;
    position: relative;
    margin-left: 3px;
}

.student-review {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid lighten($text-grey-light, 10);
    &-last {
        margin-bottom: 0.938em;
        padding-bottom: 0;
        border: none;
    }
}

.student-review-header {
    display: flex;
    margin-bottom: 10px;
}

.student-review-name {
    color: #18658a;
    font-weight: $font-medium;
}

.student-review-date {
    color: $text-grey;
}

.student-review-photo {
    display: inline-block;
      width: 3.5em;
      height: 3.5em;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin-right: 20px;
}

.student-review-info {
    flex: 1;
    // background: #f0f0f0;
    // padding: 10px;
    // border-radius: 4px;
    & > div {
        &:not(:last-of-type) {
            margin-bottom: 5px;
        }
    }
}

.student-review-text {
    line-height: 18px;
}

.student-review-all {
    margin-bottom: 0.938em;
    display: block;
}

.button-student-reviews {
    font-weight: $font-regular !important;
    margin-bottom: 0.938em;
    margin-top: 1em;
}

.whatsapp {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: -25px;
    margin-top: -1px;
}

.messenger-list {
    // margin-top: 7px;
    & > div {
        display: flex;
        align-items: center;
        & img {
            height: 1.5em;
            width: 1.5em;
            margin-right: 12px;
        }
        & a {
            text-decoration: none;
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
        &:not(:last-of-type) {
            margin-bottom: 7px;
        }
    }
}

.button-call {
    background-color: #717171 !important;
    border-color: #717171 !important;
}

.tutor-rating-line {
    margin-top: 8px;
}

.tutor-rating {
    background-color: #18658a;
    color: white;
    font-weight: $font-medium;
    padding: 2px 4px;
    border-radius: 2px;
}

.modal-animate-close {
    -webkit-animation-name: modalClose;
    animation-name: modalClose;
}

.modal-animate-open {
    -webkit-animation-name: modalOpen;
    animation-name: modalOpen;
}

@-webkit-keyframes modalOpen {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes modalOpen {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes modalClose {
  from {
      -webkit-transform: none;
      transform: none;
  }

  to {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
  }
}

@keyframes modalClose {
    from {
        -webkit-transform: none;
        transform: none;
    }

    to {
        -webkit-transform: translate3d(0, 110%, 0);
        transform: translate3d(0, 110%, 0);
    }
}

.modal-body-scrollable {
    height: calc(100% - 47px);
    overflow-y: scroll;
}

.custom-checkboxes {
    & > div {
        display: flex;
        align-items: center;
        height: 35px;
        border-bottom: 1px solid #e4e4e4;
        & img {
            height: 1.2em;
            margin: 0 10px 0 20px;
        }
    }
}

.fake-select {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}

button[disabled] {
    background-color: rgba($gray-mobile, .5) !important;
}

.personal-info-agreement {
    top: -3px;
    font-size: 12px;
    margin-left: 3px;
    position: relative;
}

.full-width {
	margin: 0 -1.357em;
	padding: 0 1.357em;
	& h1 {
		text-align: center;
	}
}

.full-width-block {
	margin: 0 -1.357em;
	padding: 20px 1.357em;
	& h1 {
		text-align: center;
	}
}

.schedule-line {
	padding-top: 8px;
    padding-bottom: 8px;
    line-height: 16px;
    font-size: 12px;
	&.green {
		background: #bfead7;
	}
	&.red {
		background: #f3c0bf;
	}
}

.calendar-month-title {
	// position: sticky;
    // top: 0;
    // background: white;
    // box-shadow: 0 0 13px 12px white;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 32px;
    & h3 {
	    padding: 0;
        font-weight: $font-bold;
    }
}

.out-month {
	display: none;
}

.image-big-preview {
	margin-bottom: 1.25em;
    & img {
	    width: 100%;
    }
}

.header-new {
    & .header-title {
        display: none;
    }
    &.header__wrap-img {
        background: url(/img/background/greenboard.jpg) no-repeat;
        background-size: cover;
        &:before {
            background: none;
        }
    }
    & .button-phone {
        background: white;
        &:after {
            background: url(/img/icons/phone-green.svg) no-repeat 0 0.063em;
        }
    }

    & .header-image-container {
        font-family: 'Bad Script', cursive;
        font-weight: normal !important;
        line-height: 90px;
        padding-bottom: .5em;
    }
}


.icons-block {
	padding: 45px 0 30px !important;
    & .icons-block-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & a {
	        font-size: 16px;
	        font-weight: $font-bold;
        }
        & > div {
            width: 45%;
//             padding: 0 3%;
            text-align: center;
            margin-bottom: 40px;
            & > *  {
                margin-bottom: $margin-small;
            }
            & img {
                height: 60px;
            }
        }
    }
}

.three-items-block {
	padding-top: 60px !important;
	& > div {
		text-align: center;
        line-height: $line-height;
        width: 70%;
        margin: 0 auto;
		& h1 {
			font-size: $font-size-huge;
			font-weight: $font-bold;
			padding: 0;
			margin-top: 15px;
            margin-bottom: $margin-tiny;
		}
        margin-bottom: 32px;
	}
	& img {
		width: 120px;
	}
}

.three-items-block-new {
	padding-top: 60px !important;
	& > div {
        line-height: $line-height;
        margin: 0 auto;
        margin-bottom: 32px;
        & .image-link {
	        align-items: flex-start;
	        & b {
		        font-size: 21px;
	        }
        }
	}
	& img {
		height: 80px;
		margin-right: 20px;
	}
}

.for-who-block {
	padding-top: 60px !important;
	padding-bottom: 0px !important;
	&__items {
		padding-top: 20px !important;
		& > div {
			text-align: center;
	        line-height: $line-height;
	        width: 70%;
	        margin: 0 auto;
	        margin-bottom: 32px;
		}
		& img {
			width: 100%;
			height: 150px;
		}
	}
}

.subject-icons-block {
	line-height: 25px;
    & img {
        height: 18px;
        margin-right: 15px;
    }
    & > div {
        margin-bottom: $margin-tiny;
    }
}

.schedule-block {
    background: #fbece0;
    padding: 40px 1.357em 50px;
    margin-top: 20px;
    &.deadline-no {
		margin-top: 40px;
		margin-bottom: 40px;
    }
    & h1 {
	   padding-bottom: 40px;
    }
    & .schedule-block-items {
        & > div {
            display: flex;
            & b {
                width: 80px;
            }
            & span {
                flex: 1;
            }
            margin-bottom: 18px;
        }
    }
    & .schedule-block-warning {
        display: flex;
        align-items: center;
        margin-top: $margin-small;
        & > div {
            line-height: $line-height;
            &:first-of-type {
                width: 57px;
                & img {
                    width: 35px;
                }
            }
        }
    }

    & .btn-example-schedule {
	    color: #3b6599 !important;
        border-color: #3b6599 !important;
    }
}

.block {
	padding: 20px 0;
	& h1 {
		text-align: center;
    }

    &_photos {
        padding: 64px 0 0;
    }
    
    &__icons {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 70px 0 40px !important;
        flex-wrap: wrap;
        & > div {
            text-align: center;
            margin-bottom: 20px;
            width: 50%;
            & h1 {
                font-size: 24px;
                padding: 0;
                margin: 15px 0;
                line-height: initial;
            }
            & > div {
                font-size: 12px;
                color: $text-grey;
                line-height: $line-height-small;
            }
        }
        & img {
            // width: 80px;
            height: 60px;
        }
    }

    &__showcase {
        &__desc {
            text-align: center;
            line-height: $line-height;
        }
        &__report-img {
            & img {
                width: 100%;
                margin: 40px auto;
                border-radius: 5px;
                box-shadow: 0 0 10px #0000004f;
            }
        }
        &__icons {
            & > div {
                display: flex;
                line-height: $line-height;
                &:first-child {
                    margin: 20px 0 40px;
                }
                & img {
                    margin-right: 30px;
                    height: 40px;
                }
                & h1 {
                    text-align: left;
                }
                & > div > div:before {
                    content: '– ';
                }
            }
        }
    }

}

.lk-preview-block-wrap {
//     width: 80%;
	margin: 0 auto;
}

.lk-preview-block {
    text-align: center;
    padding: 40px 0 30px;
    & img {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
    }
    & p {
        margin: 0;
        text-align: left;
    }
    & .btn-more-info {
        margin-top: 1.4em;
        display: inline-block;
        width: 100%;
    }
    & a {
        color: #35a45a;
        border: 1px solid #35a45a;
        text-transform: lowercase;
        text-decoration: none;
        margin: 0;
    }
}

.line-height {
	line-height: $line-height;
}

.tutors-block {
	& .tutors-block-items {
		display: flex;
		flex-wrap: wrap;
		& > div {
			width: 46%;
			padding: 0 4% 0 0;
			margin-bottom: 20px;
// 			text-align: center;
			& .line-height {
				margin: $margin-small 0;
				color: $text-grey;
				font-size: 12px;
				line-height: $line-height-small;
			}
			& .tutor-name-link {
				line-height: $line-height;
				font-weight: 700;
				text-decoration: none;
				color: black;
			}
		}
	}
	& .button-green-small {
		margin-top: 15px;
	}
	& .tutors-item-img {
		float: none !important;
		width: auto;
		max-width: none;
		margin-bottom: $margin-small;
		& img {
			width: 80%;
			margin: 0 auto;
		    max-width: 100px;
		}
	}
}

.price-digit-block {
	text-align: center;
	& b {
		font-size: 25px;
		font-weight: 700;
	}
}

.reviews-block {
	background: #f5f5f5;
	margin: 0 -1.357em 20px;
    padding: 40px 1.357em;
	& button {
		margin-bottom: 0;
	}
	& .reviews-block-full {
// 		padding-top: 0;
		padding-bottom: 0;
	}
	& > h1 {
		padding: 70px 0;
	}
}

.exams-block {
	background: #d4f4ff;
	margin-top: 70px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	& > h1 {
		margin-bottom: 20px;
	}
	& .exams-block-items {
		text-align: center;
		margin: 0 auto;
		width: 70%;
		& > div {
			& img {
				width: 120px;
			}
			& h1 {
				padding: .9em 0;
			    font-size: 18px;
			    font-weight: $font-bold;
			}
		}
		& > img {
			width: 22px;
			transform: rotate(90deg);
			margin: 25px 0;
		}
	}
}

.block {
	& p {
		line-height: $line-height;
		padding: 0;
	}
}

.order-button-block {
	margin-top: 30px;
}


.address-block {
	padding: 75px 0 25px;
}

.teacher-block {
	& img {
		width: 100%;
	}
	text-align: right;
	& .teacher-block-teacher-title {
		line-height: $line-height;
		& b {
			display: block;
			margin-top: $margin-tiny;
		}
		& span {
			font-size: 12px;
			color: $text-grey;
			line-height: $line-height-small;
		}
	}
	& p {
		font-style: italic;
		margin-top: $margin-big;
	}
}

.teacher-block-items {
	& .image-link {
		align-items: flex-start;
		margin-bottom: $margin-big;
		& img {
			height: 60px;
			margin-right: 20px;
		}
	}
}

.events-block {
    & img {
        width: 90%;
        margin-bottom: $margin-small;
    }
    & b {
        display: block;
        margin-bottom: $margin-small;
    }
    & p {
		color: $text-grey;
		font-size: 12px;
		line-height: $line-height-small !important;
        margin: 0;
    }
    & .tutors-block-items {
        & > div {
            margin-bottom: $margin-small;
        }
    }
}

.plan-includes-block {
	margin-top: 60px;
    line-height: $line-height;
    & > div {
        margin-bottom: $margin-small;
        align-items: flex-start;
    }
    & .image-link {
	    & img {
		    height: 18px !important;
		    top: 3px;
		    position: relative;
	    }
	    & b {
		    display: block;
	    }
	    margin-bottom: 30px;
    }
}

.banner-block {
	margin-bottom: 20px;
    font-style: italic;
	& .h1-top {
		font-style: normal;
	}
    & img {
        width: 100%;
        margin-bottom: .9em;
    }
    & .quote {
        margin-bottom: .9em;
        padding-left: 10%;
        text-align: right;
        line-height: $line-height;
    }
    & .tutor-title {
        padding-left: 10%;
        text-align: right;
        line-height: $line-height-small;
        font-size: 12px;
        & b {
            line-height: $line-height;
	        font-size: 14px;
            display: block;
            margin-bottom: 4px;
        }
    }
    & h1 {
	    font-weight: 800;
	    text-align: left;
	    font-size: 1.9em;
    }
    & .full-width {
	    margin: 0 -2.6em;
    }
}

.full-width-inside-block {
    margin: 0 -2.6em;
}

.three-items-under-banner {
    padding-top: 20px !important;
    & > div {
        & img {
            width: 40px;
        }
        & > h1 {
            font-size: 20px;
            margin-bottom: 15px;
			margin-top: 5px;
			line-height: initial;
        }
        & > div {
            font-size: 14px;
            color: black;
            line-height: $line-height;
        }
    }
}

.reviews-block-full {
	padding-left: 10% !important;
    padding-right: 10% !important;
	&.blue {
		padding: 60px 1.357em;
		margin-top: 40px;
		margin-bottom: 40px;
		background: #ecfafe;
	}
	&.gray {
		background: #f5f5f5;
	}
    text-align: center;
    & .review-stars {
	    margin-bottom: .9em;
	    font-size: 16px;
	    color: #18658a;
	    & i {
		    margin: 0 2px;
	    }
    }
    & .student-review-photo {
	    width: 150px;
		height: 150px;
	    margin: 0;
	    margin-bottom: .9em;
    }
    & .review-text {
	    margin-bottom: .9em;
	    // font-style: italic;
    }
    & h1 {
	    font-weight: 800;
    }
}

.deadline-block {
    padding-bottom: 0;
    text-align: center;
    padding-top: 40px;
    & img {
        width: 30px;
    }
    & h1 {
        padding-top: $margin-tiny;
    }
}

.seo-text-block {
	padding: 40px 0;
}

.student-review-info {
	& .review-stars {
		margin: 0;
	    font-size: 10px;
	    color: #18658a;
	    & i {
		    &:first-of-type {
			    margin-left: 0 !important;
		    }
		    margin: 0 2px;
	    }
    }
}

.back-link {
	font-size: 12px;
	top: -7px;
    position: relative;
    margin-bottom: 18px;
    font-weight: 600;
	& img {
	    height: 13px;
	    margin-right: 5px;
	    position: relative;
	    top: 1px;
	}
}

.seo-text-block {
	margin-bottom: 20px;
}

h1 {
	font-weight: 700;
}

.block-title {
	font-size: 24px;
	line-height: normal;
}

.student-review-name, .review-signature {
	font-weight: 600 !important;
}

.ege-trial-block {
    background: #feecdd;
    margin-top: 60px;
    padding-top: 40px !important;
    padding-bottom: 0 !important;
    & .block-title, & p {
	    text-align: left !important;
    }
    & > p {
	    padding-bottom: 25px;
	    text-align: center;
    }
    & > center {
	    margin-bottom: 50px;
    }
    & img {
	    top: 4px;
		position: relative;
    }
    & .button-green-small {
	    border-color: #9c561d !important;
	    color: #9c561d !important;
    }
}

.lk-preview-block-new {
	padding-top: 52px !important;
// 	padding-bottom: 40px !important;
	& img {
		width: 100%;
	}
	& center {
		margin-bottom: 20px;
	}
	& p {
		padding-bottom: 25px;
		margin-bottom: 20px;
	}
}

.swiper-pagination-bullet-active {
	background: #898989 !important;
}

.external-page {
	& .ege-trial-block {
		margin-bottom: 40px !important;
	}
}

.page-tutors-af {
	& .tutors-af-block {
		padding-bottom: 38px;
		& h1 {
			text-align: left;
		}
	}
	& .tutors-block {
		& .button-green-small {
			display: none;
		}
	}
    & .tutors-block-title {
        font-size: 32px;
        text-align: left;
    }
}


.seo-text-block {
	& .block-title {
		text-align: left !important;
	}
}

.address-block, .address-left, .block-title-left {
	& .block-title {
		text-align: left !important;
	}
}

.tutors-block-title {
	text-align: left !important;
}

.plan-includes-block {
	& .block-title {
		text-align: left !important;
		padding-bottom: 1.3em;
	}
}

.h1-top {
	@extend .block-title;
	@extend h1;
}

.photos {
    $photo-size: 60vw;
    $photo-padding: 8px;
    display: flex;
    & > img {
        height: $photo-size;
        margin: 0 $photo-padding;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.vertical-slider {
    -webkit-overflow-scrolling: touch;
    width: calc(100% + 2.4em);
    overflow: hidden;
    margin-left: -1.2em;
    & > * {
        overflow-y: hidden;
        overflow-x: scroll;
        padding-bottom: 15px;
        &::-webkit-scrollbar {
            display:none;
        }
        & > *:last-child {
            padding-right: 1.2em;
        }
        & > *:first-child {
            padding-left: 1.2em;
        }
    }
}

.lightbox {
    position: fixed;
    background: black;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0;
    transition: all linear .3s;
    z-index: 80;
}

.link-list {
    padding: 0 0 30px 0;
    margin: 0;
    list-style: none;      
}

.price-section {
    line-height: 20px;
    margin-bottom: 20px;
}

.green-checkmarks {
    margin: 22px 0;
    padding-left: 6px;
    & > div {
        margin: 8px 0;
        &:before {
            content: '';
            display: inline-block;
            height: 14px;
            width: 14px;
            background-size: cover;
            background-image: url(/img/svg/green-checkmark.svg);
            top: 3px;
            position: relative;
            left: -6px;
        }
    }
}