.button-white-large {
  @extend .button-green-large;

  background: transparent;
  color: #35a45a;
  font-weight: $font-medium;
  line-height: 2.2em;
  border: 1px solid #35a45a;
  position: relative;
  text-transform: none;
}
