.button-green-large {
  display: inline-block;
  vertical-align: middle;
  background: $color-green;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: $font-bold;
  height: 34px !important;
  line-height: 34px !important;
  padding: 0 15px;
  border-radius: 30px;
  border: 1px solid $color-green;
  position: relative;
  text-transform: lowercase;
  &:disabled {
      background: rgba($text-grey, .5);
  }
}

.button-green-small {
    color: #35a45a !important;
    border: 1px solid #35a45a !important;
    font-weight: $font-regular !important;
}

.button-review-more {
    border: 1px solid #acacac !important;
    color: #818181 !important;
    font-weight: $font-regular !important;
}
