.button-green-large {
  display: inline-block;
  vertical-align: middle;
  background: $color-green;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: ($height-element-form + 0.1)+ em;
  text-decoration: none;
  font-weight: $font-bold;
  height: $height-element-form + em;
  padding: 0 0.625em;
  border-radius: $height-element-form + em;
  border: 0;
  padding: 0 1.5em;
  position: relative;
}

.button-green-small {
    color: #35a45a !important;
    border: 1px solid #35a45a !important;
    text-transform: lowercase;
    text-decoration: none;
    margin: 0;
    height: 2em !important;
    line-height: 2em !important;
    font-weight: normal !important;
}
