.button-white-large {
  @extend .button-green-large;

  background: transparent;
  color: $text-grey;
  font-family: 'helveticaneuecyrlight';
  line-height: ($height-element-form - 0.1)+ em;
  border: 0.063em solid $text-grey-light;
}